[env]
build_flags =
    -D CONTROLLER_MAC=0xAA,0xBB,0xCC,0xDD,0xEE,0xFF
    ; -D OTA_HOSTNAME=R980-Excavator
    ; -D OTA_PASSWORD=topsecret

; [env:esp32dev-ota]
; upload_port = R980-Excavator
; upload_flags =
;     --port=8266
;     --auth=topsecret