[env]
build_flags =
    -D CONTROLLER_MAC=0xAA,0xBB,0xCC,0xDD,0xEE,0xFF
    -D WIFI_SSID=\"MyWiFi\"
    -D WIFI_PASSWORD=\"MyPassword\"
    -D HOSTNAME=\"Liebherr-R980-Excavator\"
    -D OTA_PASSWORD=\"topsecret\"

; Optionally predefine upload_port and upload_speed
; [env:esp-32s]
; monitor_port = COM16
; upload_speed = 921600
; upload_port = COM16

[env:esp-32s-ota]
upload_port = Liebherr-R980-Excavator
upload_flags =
    --auth=topsecret